%h4= @geo_result.search

- if @geo_result.result.attached?
  -#can return kml
  = link_to "Get kml", rails_blob_path(@geo_result.result)
  <p>
  = link_to "Delete KML", geo_result_delete_result_path(@geo_result)
-else
  = "No kml created"
<p>
- if @geo_result.source.attached?
  = link_to "Get Excel file", rails_blob_path(@geo_result.source)
  -#show the excel info
  %table.table.table-striped
    -#loop through all the rows starting at 1
    -path = ActiveStorage::Blob.service.send(:path_for, @geo_result.source.blob.key)
    -excel_file  = Roo::Spreadsheet.open(path, {:extension => "xlsx"})
    -sheet = excel_file.sheet(0)
    -#some header stuff
    %tr
      %td
        ="Column >"
      -for x in 1..sheet.last_column
        %td
          = x
      -#Actual Data
      -for y in 1..[30,sheet.last_row].min
        %tr
          %td
            = y 
          -for x in 1..sheet.last_column
            %td
              =sheet.cell(y,x)
  = simple_form_for :proccess_info, url: geo_result_generate_kml_path(@geo_result), method: :get do |f|
    = f.input :start_row ,  label: "Starting row", as: :integer
    = f.input :address_col , label: "Address column number", as: :integer
    = f.input :lat_col , label: "Latitude column number", as: :integer
    = f.input :lon_col , label: "Longitude column number", as: :integer
  
    = f.submit "geocode", label: "Geocode from address"
    = f.submit "latlon", label: "Latitude Longitude kml"
-else
  = "Source Excel File Missing"
<p>

  


