<h3>Welcome</h3>

<%= simple_form_for :test_load, url: cci_search_visitors_path, method: :get do |f| %>
  <%= f.input :data %>
  <%= f.input  :fileinfo, as: :file %>
  <%= f.submit %>
<% end %>

<%= link_to "Get kml", zero_island_visitors_path %>
<%= link_to "Get CCI", cci_loc_visitors_path%>
<%= link_to "Get data", cci_search_visitors_path%>

<p>

<%- GeoResult.all.each do |item| %>
  <% if item.result.attached? %>
    <p>
    <%= item.search %>
    <p>
    <%= link_to "kml", rails_blob_path(item.result, disposition: "attachment") %>
    <p>
    <% if item.source.attached? %>
      <%= link_to "source", rails_blob_path(item.source, disposition: "attachment") %>
    <% end %>
  <% end %>
<% end %>
